/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

.caret {
    position: absolute;
    right: 16px;
    top: 16px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #FFF;
}

.btn-group.open .dropdown-toggle {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)
}

.btn-group {
    width: 100%
}

.dropdown-menu {
    width: 100%;
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}


/* Page Sections */

.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}


/* Half Page Height Carousel Customization */

.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/* Social Icons Styles */

.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}


/* Service Page Styles */

.service-icon {
    font-size: 50px;
}


/* 404 Page Styles */

.error-404 {
    font-size: 8em;
}


/* Pricing Page Styles */

.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

.input-size {
    width: 100%;
    height: 85%;
}

.dropdown_margin {
    margin-top: 12px;
    width: 100%;
}

.vertical_line {
    border-left: thin solid #bfbfbf;
}

.myGrid {
    width: 100%;
    height: 250px;
}

.height-grid{
    height:91px; 
    width:100%;
}


.adminModelGrid{
    width: 100%;
    height: 350px;
}

.input_header {
    margin: 0 0 7px;
}

.form-group {
    margin-bottom: 0.7em;
}

.form-control {
    height: 32px;
}

.my-messages {
    transition: 1s linear all;
    margin: 3px 0 0 0;
    color: #c81010
}

.p-header {
    font-size: 1.2em;
    text-align: center;
}

.navbar-btn {
    width: 100%;
}

@media (min-width: 768px) {
    .navbar-nav-flex {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav-flex>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}

.navbar-nav-flex > li > a {
    padding-bottom: 7px;
    padding-top: 7px;
}

.page-header {
    border-bottom: 1px solid #eeeeee;
    margin: 15px 0 20px;
    padding-bottom: 9px;
}

.li-centred-text {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.container-fluid {
    width: 100%;
}

.form-group > h5 {
    margin-top: 13px;
    margin-bottom: 7px;
    font-size:15;
}

.center{
    text-align: center;
    line-height:1.5;
}

.answer {
    font-size:16px;
    display: block;

}

.list-group-item-heading{
        margin-left: 5px;
        margin-top: 2px; 
        margin-bottom: 2px; 
}
.alert{
margin-bottom: 10px;
padding:7px
margin-left:20px;
}

.answer-checkbox{
float: left;
margin-left: 10px;
}

.answer-text{
    margin: 5px 5px 5px 20px;
}

.navbar-inverse .navbar-brand{
       color: #EEE;
}

.modal-title-alert{
    color: red;
     text-decoration: underline;
}
.challenge{
    border-radius: 5px;
        background-color: white;
        border-style:solid;
        border-width :1px;
        border-color: #EBEBEB;
        padding: 0px 5px 15px 20px;
        margin-top: 10px;
}

#right-answers-percent{
    text-align: center;
    font-size: 18px;

}

.theme-style{
    color:#333;
    font-size:16px;

}
.btn-submit-answer{
   padding:8px 25px;
}

.data_header{
    margin: 10px 0px 3px;
    text-align:center;
    color: #333333;
    font-size: 17px;
    font-family: Dosis, sans-serif;
}
.reserv-time{
    margin: 10px 0px 3px;
    color: #333333;
    font-size: 17px;
    font-family: Dosis, sans-serif;
}


.my-messages.ng-active {}
.my-messages.ng-inactive {}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0.4em 1.4em 1em 1.4em !important;
    margin: 0 0 1em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
    width: inherit;
    /* Or auto */
    
    padding: 0 2px;
    /* To give a bit of padding on the left and right */
    
    border-bottom: none;
    margin-bottom: 0px;
    font-size: 16px;
}

footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}
