<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">О проекте
                <small>И его создателях</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Домашняя</a>
                </li>
                <li class="active">О проекте</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <!-- <img class="img-responsive" src="http://placehold.it/750x450"></img> -->
        </div>
        <div class="col-md-10">
            <h2>Добро пожаловать на наш сайт!</h2>
            <p>Интернет-ресурс разработан с целью помощи в расчетах показателей надежности автоматизированных систем, а так же для обучения студентов технических вузов по дисциплине "Надежность, эргономика и качество автоматизированных систем". Данный сайт является выпускной бакалаврской работой студента СПБГТИ(ТУ) Фомичева Н.Д. и выпускной магистерской работой студента СГТУ им. Гагарина Ю.А. Каримова М.</p>
            <p>При разработке использовались следующие языки и технологии:</p>
            <ul>
                <li><a href="https://angularjs.org/">AngularJS</a> - JavaScript-фреймворк, разрабатываемый Google.</li>
                <li><a href="https://spring.io/">Spring</a> - библиотека для упрощения разработки Java программ.</li>
                <li><a href="https://www.java.com/ru/">Java</a> - объектно-ориентированный язык программирования, разработанный компанией Sun Microsystems.</li>
                <li><a href="https://www.w3.org/TR/html5/">HTML5</a> - новая открытая платформа, предназначенная для создания веб-приложений использующих аудио, видео, графику, анимацию и многое другое.</li>
                <li><a href="https://www.w3.org/TR/CSS/">CSS3</a> - формальный язык описания внешнего вида документа, написанного с использованием языка разметки.</li>
                <li><a href="https://www.postgresql.org/">PostgreSQL</a> - свободная объектно-реляционная система управления базами данных (СУБД).</li>
                <li><a href="https://github.com/FreshTrash/ApplicationName">GitHub</a> - крупнейший веб-сервис для хостинга IT-проектов и их совместной разработки</li>
                <li><a href="http://www.restapitutorial.com">RESTful API</a> - архитектурный стиль взаимодействия компонентов распределённого приложения в сети.</li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br>
    <br>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Наша команда</h2>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="http://placehold.it/750x450">
            <h3>Фомичёв Никита Дмитриевич
                <br><small>Разработчик клиентской части</small>
            </h3>
            <p>Разработка модуля расчета показателей надежности, интерфейса приложения и наполнение контентом.</p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="http://placehold.it/750x450">
            <h3>Максим Каримов
                <br><small>Разработчик серверной части</small>
            </h3>
            <p>Разработка и наполнение базы данных, разработка форм авторизаии и регистрации, предоставление RESTful API.</p>
        </div>
        <div class="col-sm-12">
            <br>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="http://placehold.it/750x450">
            <h3>Андрей Васильевич Козлов
                <br><small>Старший преподаватель кафедры "Систем автоматизированного проектирования и управления"</small>
            </h3>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="http://placehold.it/750x450">
            <h3>Александр Афансьевич Большаков
                <br><small>Доктор технических наук, профессор кафедры "Систем автоматизированного проектирования и управления"</small>
            </h3>
        </div>
    </div>
    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
</div>
<!-- /.container -->
