<div header></div>
<div class="container">
    <div class="row">
        <br>
        <div class="col-lg-12">
            <h1 class="page-header text-center">Панель администратора</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="well">
                <h4>Выберите категорию</h4>
                <!-- БОЛЬШЕ РАЗМЕР ШРИФТА -->
                <ul class="list-unstyled">
                    <li><a href ng-click="showBook()">Учебник</a>
                    </li>
                    <li><a href ng-click="showTaskbook()">Задачник</a>
                    </li>
                    <li><a href ng-click="showTests()">Тесты</a>
                    </li>
                    <li><a href ng-click="showModel()">Расчёты</a>
                    </li>
                    <li><a href ng-click="showUsers()">Пользователи</a>
                    </li>
                </ul>
            </div>
            <!-- /well -->
        </div>
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-7">
            <div ng-if="show_book">
                book
            </div>
            <div ng-if="show_taskbook">
                task
            </div>
            <div ng-if="show_quizz">
                q
            </div>
            <div ng-show="show_model">
                
               <h4>Редактирование базы данных элементов</h4>
                <select required ng-model="selectedEquipmentId" ng-change="updateModelTable(selectedEquipmentId)" class="form-control dropdown_margin">
                    <option value="" disabled selected>Выберите тип оборудования</option>
                    <option ng-repeat="option in equipmentSelectData.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>
                {{msg.resp}}
                <br>
                {{msg.data}}
                <h4>Элементы АСУ</h4>
                <div ui-grid="modelGridOpts" ui-grid-edit class="adminModelGrid"></div>
                <br>
                <form name=addElementForm>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Добавить элемент</legend>
                    
                        <div class="form-group" ng-class="{ 'has-error': addElementForm.elemName.$invalid && addElementForm.elemName.$dirty}">
                            <p class="input_header">Название элемента</p>
                            <input name="elemName" type="text" ng-model="elemName" class="form-control input-size" placeholder="Введите название элемента" required/>
                            <div ng-messages="addElementForm.elemName.$error" min='3' max='200' ng-if="addElementForm.elemName.$dirty" class="my-messages">
                                <p ng-message-exp="['min','max','number']">Название должно быть длиннее 3 символов</p>
                                <p ng-message="required">Это поле обязательно для заполнения.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': addElementForm.elemLambda.$invalid && addElementForm.elemLambda.$dirty}">
                            <p class="input_header">Интенсивность отказов</p>
                            <input name="elemLambda" type="number" ng-model="elemLambda" class="form-control input-size" placeholder="Введите интенсивность откаов" min=0 max=1 required/>
                            <div ng-messages="addElementForm.elemLambda.$error" ng-if="addElementForm.elemLambda.$dirty" class="my-messages">
                                <p ng-message-exp="['min','max','number']">Введите значение между 0 и 1.</p>
                                <p ng-message="required">Это поле обязательно для заполнения.</p>
                            </div>
                        </div>
                        <button class="btn btn-primary" ng-click="submitFormAddElement()">Добавить</button>
                   
                </fieldset>
                </form>
            </div>
            <div ng-if="show_users">
                u
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
