<div class="container">
    <div class="row">
        <br>
        <div class="col-lg-12">
            <h1 class="page-header text-center">Панель администратора</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="well">
                <h4>Выберите категорию</h4>
                <!-- БОЛЬШЕ РАЗМЕР ШРИФТА -->
                <ul class="list-unstyled">
                    <li><a href ng-click="showBook()">Учебник</a>
                    </li>
                    <li><a href ng-click="showTaskbook()">Задачник</a>
                    </li>
                    <li><a href ng-click="showTests()">Тесты</a>
                    </li>
                    <li><a href ng-click="showModel()">Расчёты</a>
                    </li>
                    <li><a href ng-click="showUsers()">Пользователи</a>
                    </li>
                </ul>
            </div>
            <!-- /well -->
        </div>
        <!-- <div class="col-lg-1"></div> -->
        <div class="col-lg-7">
            <div ng-if="show_book">
                book
            </div>
            <div ng-if="show_taskbook">
                task
            </div>
            <div ng-if="show_quizz">
                q
            </div>
            <div ng-if="show_model">
                <!-- SELECT -->
                {{msg.resp}}
                <select required ng-model="selectedEquipmentId" ng-change="equipmentSelectDataChanged(selectedEquipmentId)" class="form-control dropdown_margin">
                    <option value="" disabled selected>Выберите тип оборудования</option>
                    <option ng-repeat="option in equipmentSelectData.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>
                <!-- UIGRID WITH CHANGE VALUES AVAILABLITY -->
                <div ui-grid="modelGridOpts" ui-grid-edit  class="adminModelGrid"></div>
                <button class="btn btn-primary" type="button" ng-click="addAsuElement()">Добавить элемент</button>
                
            </div>
            <div ng-if="show_users">
                u
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
