<div header></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Пройдите тест для самопроверки</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Домашняя</a>
                </li>
                <li class="active">Тесты</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <!--THEMES-->
            <div ng-if="showThemes">
                <h4>Выберите одну из тем</h4>
                <ol start="integer" type="1">
                    <li ng-repeat="theme in themes" ><a class="theme-style" ng-click="startQuizOnTheme($index)">{{::theme.name}}</a>
                    </li>
                </ol>
            </div>
            <!--QUESTIONS-->
            <div ng-if="showQuestions">
                <h4>Выберите ответ</h4>
                <a ng-click="backToThemes()">
                    << Вернуться к темам</a>
                        <div class="challenge">
                            <h3>{{choosedThemeName}} <small>Вопрос №{{questionId}} из {{totalQuestionsCount}}</small></h3>
                            <div>
                                <h4>{{questionName}}</h4>
                                <ul>
                                    <li class="answer" ng-repeat="answerIndex in thisThemeQuestions[questionId-1].answers">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="answer-text" ng-model="answerIndex.userChoice"> {{answerIndex.answer}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-primary" ng-click="submitAnswer(questionId)">Ответить</button>
                            </div>
                        </div>
            </div>
            <!--STATS-->
            <div ng-if="showAnswers">
                <h4>Ваши ответы</h4>
                <a ng-click="backToThemes()">
                    << Вернуться к темам</a>
                        <p class="right-answers-percent">Вы ответили правильно на {{rightAnswersCount}} вопросов из {{totalQuestionsCount}}</p>
                        <p class="right-answers-percent">Это {{rightAnswersPercent}}% от общего числа вопросов</p>
                        <div ng-model="right" ng-repeat="question in thisThemeQuestions" class="panel panel-default">
                            <div class="panel-body">
                                <h4 class="list-group-item-heading">№{{question.id}} {{question.text}}</h4></div>
                            <div class="panel-footer">
                                <div class="alert" ng-model="answers" ng-repeat="oneAnswer in question.answers" ng-class="{ 'alert alert-info' : oneAnswer.correct && !oneAnswer.userChoice , 'alert alert-danger' : oneAnswer.userChoice && !oneAnswer.correct ,  'alert alert-success': oneAnswer.correct && oneAnswer.userChoice}">
                                    <p class="list-group-item-text">
                                        {{oneAnswer.answer}}</p>
                                </div>
                            </div>
                        </div>
            </div>
            <hr>
        </div>
    </div>
</div>
<!-- /.container -->
