<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Тесты
                <small>A Sample Blog Post</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Quizzes</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <p class="lead">Quizes
            </p>
            <!--THEMES-->
            <div>
                <ol>
                    <li ng-click="ThemeChoosed($index)" ng-model="oneTheme"
                        ng-repeat="theme in ::themes track by theme">{{theme}}
                    </li>
                </ol>
            </div>

            <!--QUESTIONS-->
            <h5>{{theme}}</h5>
            <div>
                <h6>{{question}}</h6>
                <div ng-model="answersModel" ng-repeat="answer in answers track by answer">
                    <input type="checkbox" ng-checked="answerCheckboxChecked[$index]">
                    <p class="answer">{{answer.name}}</p>
                </div>
                <button type="button" ng-click="submitAnswer($index)">Ответить</button>
            </div>

            <!--STATS-->
            <div>
                <h5>{{themeName}}</h5>
                <p>Правильных ответов: {{rightAnswers}}</p>
                <div ng-model="right" ng-repeat="question in ::questions track by question">
                    <h6>{{question}}</h6>
                    <div ng-model="answers" ng-repeat="answer in answers track by answer">
                        <p class="answer" ng-class="{ 'right-answer' : isAnswerRight(answer.id)}">
                            {{answer.name}}</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
<!-- /.container -->
