<div header></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Решите задачи для самопроверки</h1>
            <ol class="breadcrumb">
                <li><a href="#/">Домашняя</a>
                </li>
                <li class="active">Задачник</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class= "col-lg-8">
        HERE
            <hr>
        </div>
    </div>
</div>
<!-- /.container -->
